@model IEnumerable<BikeAdShortViewModel>
@{
    ViewData["Title"] = "All Bike Ads";
}

<div class="row">
    <div class="col-md-4">
        <h4>All bike ads</h4>
        <hr />
        <partial name="_BikeShortViewPartial" />
    </div>
</div>

